<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BAZAR PRG</title>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/Contactanos.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  
    
        <link rel="stylesheet" href="~/css/botones.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/bazar_prg.styles.css" asp-append-version="true" />
      
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
       

<!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a style="margin-bottom: 18px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://scontent.flim16-3.fna.fbcdn.net/v/t1.6435-9/52700555_2140710865972145_6497504659433848832_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=G2YSe4Irw0MAX-fMxIk&_nc_ht=scontent.flim16-3.fna&oh=00_AfCsPc_yy41clbhmWUTR2xVNu4Buu4P-Z1sMdaxywsDuiw&oe=639BC1E8" width="70px" heigh="50px"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="padding-top: 34px;" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a style="padding-top: 34px;" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a style="padding-top: 35px;" class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Contáctanos</a>
                        </li>
                        <partial name="_MenuPartial" />  
                        <li class="nav-item">
                        <partial name="_ContactoPartial" />  
                        </li>

                        <li class="nav-item">
                            <a style="padding-top: 35px;" class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Catalogo" asp-action="Index" style="display: flex;"> 
                                <input style="font-size: 12px;" type="text" name="searchString"  class="form-control">
                                
                                <input type="submit" value="Buscar" class="btn ml-5" style="color:rgb(0,0,0);" style="background:  #54b4d7 !important; : #000000;">
                            </form>
                        </li>
                    </ul>
                     <partial name="_RolesPartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-bottom: 150px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
  </div>

    <footer class="border-top footer text-muted">
        <center>
        <div class="container">
            &copy; 2022 - PRG BAZAR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
            <div class="col-md-3">
                <a></a>
                <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/IEPRG" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" width="25px" heigh="25px"></i> Facebook</a>
                <a class="btn btn-light" style="background-color: white; color:black;" href="https://www.instagram.com/prgoficial/" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="25px" heigh="25px"></i> Instagram</a>
            </div>
        </div>
        </center>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
