@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
   

    <li class="nav-item">
        <a style="padding-top: 40px;" style="font-weight: bold;"  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesión</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-area="Identity" asp-page="/Account/Register"><img src="https://cdn-icons-png.flaticon.com/512/5655/5655237.png" width="25px" heigh="20px"> Registrate</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-info btn glyphicon glyphicon-pencil" asp-area="Identity" asp-page="/Account/Login"><img src="https://cdn-icons-png.flaticon.com/512/6555/6555413.png" width="25px" heigh="20px"> Iniciar Sesión</a>
    </li>
}
</ul>
