@model bazar_prg.Models.Productos
  <link rel="stylesheet" href="~/css/createprod.css">
@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="contact-box">
        <div class="left"></div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName"  class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<center>
    <br>
<div>
    <a class="btn btn-primary" style="background-color: #3b5998;" asp-action="Index" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/570/570220.png" width="25px" heigh="25px"></i> Regresar</a>
</div>
</center>
<br>
<br>
<br>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
