<link rel="stylesheet" href="css/style.css">

 <section class="banner contenedor">
            <section class="banner_title">
                <h2>PRG BAZAR LIBRERIA</h2>
                <a href="#" class="llamanos">Compra ya!</a>
            </section>
            <div class="banner_img">
                <img src="/images/01.png" width="990px" height="800px" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>