<link rel="stylesheet" href="~/css/burbuja.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
<div style="text-align:center;">
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-c9179339-8d3f-4c08-8342-2654b890db52"></div>

<h1>GALERÍA</h1>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-5fa9650a-32d6-4a6b-89a2-a8b9ea44397e"></div>
</div>
</div>

<div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>