@model bazar_prg.Models.Cliente

@{
    ViewData["Title"] = "EDITAR";
}

<h1>EDITAR ESTADO DE ATENCIÓN</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Surname" />
            <input type="hidden" asp-for="Email" />


            <div class="form-group">
                <label class="control-label">ESTADO DE LA ATENCIÓN</label>
                
                 <select asp-for="Estado" class="form-control">
                 <option value="PENDIENTE">PENDIENTE</option>
                 <option value="ALISTADO" >ALISTADO</option>
                 <option value="ENTREGADO">ENTREGADO</option>
                 </select>
               
                <span aspvalidation-for="Estado" class="text-danger"></span>
            </div>
            <br> 

            <div class="form-group">
                <input type="submit" value="GUARDAR CAMBIO" class="btn btn-primary" />
            </div>
        </form>
    </div>
      <a asp-action="Listado">RETROCEDER</a>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
