@model bazar_prg.Models.Cliente

<link rel="stylesheet" href="css/contactanos.css">

<div class="container">
		
		<div class="form">
			<div class="contact-info">

				<div class="">
					<a asp-controller="Home" asp-action="Index">
						<img src="https://cdn-icons-png.flaticon.com/512/7756/7756204.png" class="icon" alt="" />
					</a>
				</div>

				<h3 class="title">Escribenos</h3>
				<p class="text">
					Dejanos tus datos o puedes seguirnos en nuestras redes sociales para brindarte más información.
				</p>

				<div class="info">
					<div class="information">
						<img src="https://cdn-icons-png.flaticon.com/512/3133/3133860.png" class="icon" alt="" />
						<p>Av. Petit Thouars 4836, Miraflores 15046</p>
					</div>
					<div class="information">
						<img src="https://cdn-icons-png.flaticon.com/512/3972/3972722.png" class="icon" alt="" />
						<p>polident@gmail.com</p>
					</div>
					<div class="information">
						<img src="https://cdn-icons-png.flaticon.com/512/3679/3679281.png" class="icon" alt="" />
						<p>995958855</p>
					</div>
				</div>

				<div class="social-media">
					<p>Siguenos :</p>
					<div class="social-icons">
						<a href="https://www.facebook.com/Polident.pe">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/_polident_/">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="contact-form">
				<span class="circle one"></span>
				<span class="circle two"></span>

				<div class="activity-data">
				    <form asp-controller="Cliente" asp-action="Create">

        <label asp-for="Name" class="form-label"></label>
         <br>
        <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Ingresu sus nombres" aria-label=".form-control-sm" />
          <br>
        <label asp-for="Surname" class="control-label"></label>
           <br>
        <input asp-for="Surname" class="form-control form-control-sm" type="text" placeholder="Ingrese sus apellidos" aria-label=".form-control-sm" />
          <br>
        <label asp-for="Email" class="control-label"></label>
           <br>
        <input asp-for="Email" class="form-control form-control-sm" type="text" placeholder="Ingrese su email" aria-label=".form-control-sm" />
          <br>
   
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button> 
        </div>              
    </form>

				</div>
                <h1>@ViewData["Message"]</h1>
                <div>
                     <br>
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </div>

			</div>

		</div>