@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.contenedor {
  position: relative !important;
  width: 100% !important;
  min-height: 100vh !important;
  padding: 2rem !important;
  background-color: #fff !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

}

.form {
  width: 100% !important;
  max-width: 820px !important;
  background-color: #fff !important; 
  border-radius: 10px !important;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000 !important;
  overflow: hidden !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.contact-form {
  background-color: #54b4d7 !important;
  position: relative !important;
}

.circle {
  border-radius: 50% !important;
  background: linear-gradient(135deg, transparent 20%, rgb(255, 255, 255)) !important;
  position: absolute !important;
}

.circle.one {
  width: 130px !important;
  height: 130px !important;
  top: 130px !important;
  right: -40px !important;
}

.circle.two {
  width: 80px  !important;
  height: 80px !important;
  top: 10px !important;
  right: 30px !important;
}

.contact-form:before {
  content: "" !important;
  position: absolute !important;
  width: 26px !important;
  height: 26px !important;
  background-color: rgb(255, 255, 255) !important;
  transform: rotate(45deg) !important;
  top: 50px !important;
  left: -13px !important;
}

form {
  padding: 2.3rem 2.2rem !important;
  z-index: 10 !important;
  overflow: hidden !important;
  position: relative !important;
}

.title {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1 !important;
  margin-bottom: 0.7rem !important;
}

.input-container {
  position: relative !important;
  margin: 1rem 0 !important;
}

.input {
  width: 100% !important;
  outline: none !important;
  border: 2px solid #fafafa !important;
  background: none !important;
  padding: 0.6rem 1.2rem !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 0.95rem !important;
  letter-spacing: 0.5px !important;
  border-radius: 25px !important;
  transition: 0.3s !important;
}

textarea.input {
  padding: 0.8rem 1.2rem !important;
  min-height: 150px !important;
  border-radius: 22px !important;
  resize: none !important;
  overflow-y: auto !important;
}

.input-container label {
  position: absolute !important;
  top: 50% !important;
  left: 15px !important;
  transform: translateY(-50%) !important;
  padding: 0 0.4rem !important;
  color: #fafafa !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  pointer-events: none !important;
  z-index: 1000 !important;
  transition: 0.5s !important;
}

.input-container.textarea label {
  top: 1rem !important;
  transform: translateY(0) !important;
}

.btn {
  padding: 0.6rem 1.3rem !important;
  background-color: #fff !important;
  border: 2px solid #fafafa !important;
  font-size: 0.95rem !important;
  color: #020a0e !important;
  line-height: 1 !important;
  border-radius: 25px !important;
  outline: none !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  margin: 0 !important;
}

.btn:hover {
  background-color: transparent !important;
  color: rgb(255, 255, 255) !important;
}

.input-container span {
  position: absolute !important;
  top: 0 !important;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #54b4d7;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(0, 255, 255), #54b4d7);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #54b4d7;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom,#54b4d7, rgb(255, 255, 255));
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}